{
  "presets": [
    "env",
    "react-app"
  ],
  "plugins": [
    "transform-ensure-ignore",
    [
      "transform-assets",
      {
        "extensions": [
          "png",
          "jpg",
          "gif",
          "svg"
        ],
        "name": "/images/[name]-[sha512:hash:base64:7].[ext]"
      }
    ],
    [
      "babel-plugin-transform-require-ignore",
      {
        "extensions": [
          ".css",
          ".less",
          ".sass"
        ]
      }
    ],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "parse": "parse/node"
      }
    }]
  ]
}