<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" type="text/css" href="/public/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/public/css/Icon/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/RangeSlider/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/Search/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font/UnitedSansReg-Bold/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font/UnitedSansReg-Heavy/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font/UnitedSansReg-Medium/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font/UnitedSansSemiCond-Heavy/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font/UnitedSerifCond-Black/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font/UnitedSerifCond-Bold/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font/UnitedSerifCond-Heavy/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font/UnitedSerifCond-Medium/styles.css">
</head>
<body>
<div id="app"></div>
<style id="jss-server-side"></style>

<!-- Google Analytics -->

<script>
    var GOOGLE_UA = '%GOOGLE_UA%';
    if (GOOGLE_UA && GOOGLE_UA !== "%GOOGLE_UA%") {
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', GOOGLE_UA, 'auto');
        ga('send', 'pageview');
    }
</script>


<!-- Intercom OFF -->


<script>
  window.INTERCOM_ID = '%INTERCOM_ID%';
  window.intercomSettings = {
    app_id: window.INTERCOM_ID,
    hide_default_launcher: true
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/'+window.INTERCOM_ID;var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>


</body>
</html>